<div layout="column" layout-align="end center">
    <div layout="row" layout-align="center center">
        <div class="col-sm-3">
            <div class="text-left logo-grey">ZCloud</div>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                &copy; 2015 IoT Lab - VNG Corp.
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-right">
                <a href="javascript:void(0)"
                   target="_blank">
                    <span class="fa fa-lg fa-facebook-square"></span>
                </a>
                <a href="javascript:void(0)" target="_blank">
                    <span class="fa fa-lg fa-twitter-square"></span>
                </a>
                <a href="javascript:void(0)" target="_blank">
                    <span class="fa fa-lg fa-google-plus-square"></span>
                </a>
                <a href="javascript:void(0)" target="_blank">
                    <span class="fa fa-lg fa-github-square"></span>
                </a>
            </div>
        </div>
    </div>
</div>
