<div>
    <div class="block block-themed">
        <div class="block-header bg-primary">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="showHistory(widget, $event)"><i class="fa fa-history"></i></button>
                </li>
<!--                <li>
                    <span class="draggable-handler text-gray ui-sortable-handle"><i class="si si-cursor-move"></i></span>
                </li>-->
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="showWidgetSettings(widget, $event)"><i class="si si-settings"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="deleteWidget(widget)"><i class="fa fa-remove"></i></button>
                </li>
            </ul>
            <h3 class="block-title">{{ title}}</h3>
        </div> 
    </div>
    <div>
        <div ng-include="template"></div>
    </div>
</div>